{% extends "teacher/teacher_base.html"%}
{% block body_block %}

    <h1>Welsome to Quiz Detail Page !</h1>

    <h2><li>Subject : {{quiz_detail.quiz_name}}</li></h2>
    <h2><li>Date : {{quiz_detail.quiz_date}}</li></h2>
    <h2><li>Date : {{quiz_detail.quiz_time}}</li></h2>
    <h3>Questions:</h3>
    <ol>
    {% for question in quiz_detail.questions.all %}
    
        <hr>
        <li>
            <a href="{% url 'teacher:questionupdate' pk=quiz_detail.pk p=question.id %}">{{question.question_text}}</a></li>
           
      
    {% for ans in question.choices.all %}
    <ul>
        <li>
            
            <p><a href="{% url 'teacher:choiceupdate' pk=quiz_detail.pk p=question.id a=ans.id %}">{{ans.choice_text}}</a> : value ---> {{ans.ans}}</p>

             
        </li>
        
    </ul>
    
    {% endfor %}
    
    <a type='muted' href="{% url 'teacher:choiceadd' pk=quiz_detail.pk p=question.id %}">add Values of Choices ??</a>
   
   <hr>
    {% endfor %}
</ol>
</div>
<div >
  
    <a  href="{% url 'teacher:quizupdate' pk=quiz_detail.pk %}"> <button class="btn btn-primary">Update Quiz</button></a>
    <a  href="{% url 'teacher:quizdelete' pk=quiz_detail.pk %}"> <button class="btn btn-danger">Delete Quiz</button></a>
    <a  href="{% url 'teacher:questionadd' pk=quiz_detail.pk %}"> <button class="btn btn-danger">Add Questions</button></a>
</div>
{% endblock %}